body {
    background-color: lightblue;
}

.container {
    padding: 20px;
}

.game {
    background-color: white;
    padding: 15px;
    margin-bottom: 20px;
    border-radius: 5px;
}

img {
    max-width: 50%;
    height: auto;
    display: block;
    margin: 0 auto 10px;
    img {
    float: left;
}
}
